*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--blue-500: #3b82f6;
	--text-shadow-black: 1px -2px black;
}

body {
	height: 100vh;
	background-image: linear-gradient(to right, #5eead4, #99f6e4);
	font-family: sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 15px;
	height: 70px;
	border-bottom: 3px solid black;
	background-color: #0d9488;
}

header h1 {
	color: white;
	text-shadow: var(--text-shadow-black);
}

header h2 {
	color: white;
	text-shadow: var(--text-shadow-black);
}

.con {
	font-family: 'Courier New', Courier, monospace;
	color: #67e8f9;
	text-shadow: var(--text-shadow-black);
}

.year {
	color: #fb7185;
}

form {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 10px;
	height: 650px;
	width: 500px;
	padding: 30px;
	gap: 50px;
	background-color: white;
}

form h2 {
	cursor: default;
	color: black;
}

form h2 span {
	text-decoration: underline;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.userInput {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inputChild {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.childValues {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.childValues input {
	padding: 8px;
	border-radius: 5px;
	border: 1px solid black;
	outline: none;
	box-shadow: -1px 2px 3px gray;
}

.childValues label {
	font-weight: bold;
	padding: 0px 0px 0px 1px;
}

.childValues input:focus {
	border: 1px solid #c3c3c3;
	text-decoration: none;
}

.genderContainer {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.genderContainer h3 {
	cursor: default;
}

.genderList {
	display: flex;
	justify-content: space-between;
	padding: 0px 5px 0px 0px;
}

.genderList input {
	cursor: pointer;
}

#register {
	padding: 10px 0px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	background-color: #5eead4;
}

#register:hover {
	transition: 0.3s ease-in;
	background-color: #14b8a6;
}

.guestDiv {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.guestChild {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 10px 5px;
	border-bottom: 1px solid black;
}

.guestChild label {
	font-weight: 600;
}

#guestList {
	box-shadow: -1px 2px 3px gray;
	border-radius: 3px;
	padding: 1px;
}

@media only screen and (max-width: 1050px) {
	body {
		overflow-y: auto;
	}

	body {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	form {
		margin-bottom: 50px;
	}

	main {
		align-items: first baseline;
	}
}

@media only screen and (max-width: 600px) {
	form {
		height: auto;
		width: auto;
	}

	.genderList {
		flex-direction: column;
		gap: 10px;
	}

	.guestChild {
		flex-direction: column;
	}

	.userInput {
		flex-direction: column;
	}

	main {
		height: auto;
	}
}
